
<%= devise_error_messages! %>
<p class="alert"><%= notice %></p>
<p class="alert alert-error"><%= alert %></p>

<hr>

<a class="muted" href="https://github.com/satohk/myaccounting">github project page</a>
