
<%= devise_error_messages! %>
<p class="alert"><%= notice %></p>
<p class="alert alert-error"><%= alert %></p>

<hr>

<div class="muted">
  published on <a class="muted" href="https://github.com/satohk/myaccounting">github</a><br>
</div>
