
<%= devise_error_messages! %>
<p class="alert"><%= notice %></p>
<p class="alert alert-error"><%= alert %></p>

<hr>

<small class="muted">
<center>
<p>お問い合わせ,ご要望は<a class="muted" href="http://twitter.com/satohk">@satohk</a>にお願いします.</p>
<p><a class="muted" href="https://github.com/satohk/myaccounting">github repository</a></p>
</center>
</small>
